<h2>List of ordered products</h2>

<div id="cart">
<table class="table table-striped">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
  	<% total_price = 0 %>
  	<% total_amount = 0 %>
  	<% @items.each do |item| %>
    <tr>
      <td><%= item[0].title %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
    <% total_price += item[0].price * item[1].to_i %>
    <% total_amount += item[1].to_i %>
    	<% end %>

    <tr>
      <td></td>
      <td>Total: <%= total_price %></td>
      <td><%= total_amount %></td>
    </tr>    
    
  </tbody>
</table>

<form action="/place_order" method="POST">

	<input type="hidden" name="order[orders_input]" value="<%= @orders_input %>" />
  <div class="form-group">
    <label>Name</label>
    <input name="order[name]" type="text" class="form-control" placeholder="Введите ваше имя" >
  </div>

   <div class="form-group">
    <label>Phone</label>
    <input name="order[phone]" type="text" class="form-control" placeholder="Введите ваш телефон" >
  </div>

   <div class="form-group">
    <label>Address</label>
    <textarea name="order[address]" type="text" class="form-control" placeholder="Введите адресс доставки" ></textarea>
  </div>

  <button type="submit" class="btn btn-success btn-lg">Place order</button>
  <button class="btn btn-success btn-danger" onclick="return cancel_order()">Cancel</button>
  </form>
</div>